* {
	box-sizing: border-box;
}

html,body{
	min-height: 100vh;
	margin: 0;
  background-color: blue; /* For browsers that do not support gradients */
  background-image: linear-gradient(blue, white); /* Standard syntax (must be last) */
}

img{
    width:100%;
}

.header{
    text-align: center;
    font-size: 5vh;
    color: aqua;
    
}

.footer{
      text-align: center;
    font-size: 5vh;
    color: white;
}
.stories{
    height:75vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 2.5vh;
    
}



.story{
    border: 3px solid black;  
}

.story:hover{
  font-size: 125%;
    background: white;
}

.story_author{
    color: black;
    font-weight: bolder;
}

.story_text{
    color:black;
}


/**
In our css we only use class-based selectors, no tag id's (no hashtags)
*/
/**
Ben methadoligy
Re-usability
Modifiers
Handed in on GIT, initialize a repositor
**/